{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
    {#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
    <title></title>
    <!-- Load css for c3 basic styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

{% endblock %}
{% block page_title %}Calculations{% endblock %}
{% block body_class %}{{ block.super }}{% endblock %}

{% block content %}
    {#    <h1>Various Calculations</h1>#}

    <div class="row">

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">CAGR</h3>
        </div>
        <div class="panel-body">

            <p>Calculate the compound annual growth</p>


            <div id="validationErrors" class="bs-callout bs-callout-warning hidden">
                <h4>Form Invalid</h4>
            </div>

            <div class="bs-callout bs-callout-info hidden">
                <h4>Info</h4>

                <p>Form seems to be ok</p>
            </div>

            <form id="cagrForm" class="form-inline" data-parsley-validate
                  data-parsley-errors-container="#validationErrors">
                <div class="row">
                    <div class="col-xs-3">

                        <input class="form-control" id="baseVal" placeholder="Initial Value"

                               required

                               data-parsley-error-message="Base value is required"
                                >
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" id="rate" placeholder="Growth Rate"

                               data-parsley-error-message="Growth rate is required"
                               required>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-group">
                            <input class="form-control" placeholder="Years" id="years"
                                   data-parsley-type="number"
                                   data-parsley-error-message="Years count is required"
                                   required>
                <span class="input-group-btn">
                    <button id="goBtn" type="button" class="btn btn-primary">
                        Go
                    </button>
                </span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" id="result" placeholder="Result">
                    </div>
                </div>
            </form>

            <h1 class="hidden">Chart</h1>

            <div class='chart'>
                <div id='chart'></div>
            </div>

            <h1 class="hidden">Values</h1>

            <div id="values">
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript_library %}
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/main.js' %} "></script>
    <script src="{% static 'lib/parsley.dev.js' %} "></script>

    <script src="{% static 'lib/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'lib/c3.min.js' %}"></script>

{% endblock %}

{% block javascript %}
    {#    <script>#}
    {#   #}
    {#    </script>#}
{% endblock %}